<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Accueil{% endblock %} - SuiviCovid</title>
    <link
      rel="shortcut icon"
      href="{{asset('img/logo.svg')}}"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}"/>
    {% block stylesheets %}{% endblock %}
    <script src="{{ asset('js/bootstrap.bundle.js') }}"></script>

  </head>
  <body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="index.html">SuiviCovid</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
    <div class="container mt-3">
        {% block body %}{% endblock %}
    </div>
    <script src="dist/js/bootstrap.bundle.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
